@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body,
html {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  height: 100%;
  padding: 0;
  margin: 0;
}

.app-wrapper {
  margin: 0;
  padding: 0;
}
