@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

.app-container {
  width: 100%;
}

.header-container {
  width: 100%;
  border-bottom: 2px solid #ccc;
  padding: 15px 0;
  margin-bottom: 15px;
}

.header-container h1 {
  font-family: "Lobster", cursive;
  font-size: 30px;
}

.layout {
  max-width: 1240px;
  margin: 0 auto;
}

.content {
  position: relative;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .layout {
    max-width: 98%;
    margin: 0 1%;
  }
  .header-container {
    padding: 0;
    margin: 0;
  }
}
